<html>
<head>
    <style>
    .centered {
        margin-left: auto;
        margin-right:auto;
    }
    .right {
        float: right;
    }
    table {
       align: center;
    }
    td.num {
       text-align: right;
    }
    .logo {
        float: left;
    }
    .border {
        border: 1px solid;
    }
    .noborder {
    }
    </style>
    <meta charset="UTF-8"> 
</head>
<body>

<div class="centered" style="text-align:center;">
    <div class="logo" style="width: 50em;"></div>
    <img height="40" class="logo" src="./logo.png" />
    <h2>YIWU RIYAO IMP&EXP.CO.LTD</h2>
    <h4>ROOM 8511.5F,  CUP INTERNATIONAL BUILDING NO1339  CHOUZHOU  ROAD, YIWU ZHEJIANG CHINA</h4>
    <h4>TEL: 0086-579-85314583  FAX:0086-579-85436673</h4>
    <h4><a href="http://riyaoimpexp.com">http://riyaoimpexp.com</a></h4>
</div>
<hr />
<div class="centered" style="text-align:center;">
    <img height="70" src="./tiaoma.png"/>
    <h2>Packing List No. HL 2721-07</h2>
</div>

<div class="centered" >
    <p>Ninbo, 2015 September 02</p> 
    <h4>
        <p>TO:</p>
        <p>Superbisuterias S.A.</p>
        <p>RUC 0992932562001</p>
        <p>LA FRAGATA Mz 2190 No. SL 5</p>
        <p>Guayaquil - Ecuador</p>
        <p>Telf: +593 4 2532007</p>
    </h4>

    <div class="centered" >
    <table border="1" style="border:1px solid;" class="centered">
    <tr class="border"> 
        <th>Item</th>
        <th> 
        <table>
            <col width="300"/>
            <col width="40"/>
            <col width="40"/>
            <col width="160"/>
            <tr>
                <th class="noborder">Description</th>
                <th class="num noborder">Quantity</th>
                <th class="noborder">Selling Unit</th>
                <th class="noborder">Size of Unit</th>
            </tr>
        </table>
        </th>
        <th class="num">Box</th>
        <th class="num">Weight(KG)</th>
    </tr> 
    {% for sub in items %}
    <tr class="border">
        <td> {{sub.items[0].uid}} </td>
        <td>
            <table>
                <col width="300"/>
                <col width="40"/>
                <col width="40"/>
                <col width="160"/>
            {% for i in sub.items %}
            <tr>
                <td class="noborder">{{i.display}}</td>
                <td class="num noborder">{{i.quantity}}</td>
                <td class="noborder">{{i.unit}}</td>
                <td class="noborder">{{i.size}}</td>
            </tr>
            {% endfor %}
            </table>
        </td>
        <td class="num">{{ sub.box or ""}} </td>
        <td class="num">{{ sub.weight or ((sub.box or 0)* 30) or ""}} </td>
    </tr>
    {% endfor %}
    <tr class="border">
        <td></td>
        <td>Total:</td>
        <td class="num">{{ boxes }}</td>
        <td class="num">{{ weight }}</td>
    </tr>
    </table>
    <hr />
    <div style="text-align:center">
        <p>Total Boxes: {{ boxes }} 
        <p>Total Net Weight: {{ weight }} KG</p>
        <p>Total Gross Weight: 21763 KG</p>
    </div>
</div>
</body>
</html>
    
